doctype html
html#home
  head
    title Ethos
    script( src="" )
    link( rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" )
    style( type="text/css" ).
      body {
        padding: 1em;
        margin: 0 auto;
        max-width: 40em;
      }
      .info {
        margin: 2em 0;
      }

      dt { font-weight: bold; }

  body

    h1  Ethereum Network
    p WIP using node-ethereum / ethereum-lib-node

    h2 Node
    dl#node.info
      dt host:
      dd #{ settings.network.host }

      dt port:
      dd #{ settings.network.port }

      dt upnp: 
      dd #{ settings.upnp }

      dt rpc: 
      dd #{ settings.rpc.port }

      dt path: 
      dd #{ settings.path }

    h2 Blockchain
    dl#blockchain.info
      dt Genesis Hash:
      dd #{ blockchain.meta.genesis }

      dt Head:
      dd #{ blockchain.meta.head }

      dt Height:
      dd #{ blockchain.meta.height }

      dt TD:
      dd #{ blockchain.meta.td }

    h2 Network
    dl#network.info
      dt Peers
      dd ...
      dd ...
      dd ...
      